numpy>=1.23,<2.0; python_version < "3.9"
numpy>=2.0,<2.1; python_version >= "3.9"

pandas>=1.0
scipy>=1.8.0

matplotlib
seaborn
streamlit>=1.25.0
gensim>=4.3.0

scikit-learn
spacy
mlxtend
pydeck
pyarrow




altair==5.4.1
annotated-types==0.7.0
attrs==24.2.0
blinker==1.8.2

cachetools==5.5.0
catalogue==2.0.10
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloudpathlib==0.20.0
colorama==0.4.6
confection==0.1.5
contourpy==1.3.0
cycler==0.12.1
cymem==2.0.8
data==0.4
decorator==5.1.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
fonttools==4.54.1
funcsigs==1.0.2
future==1.0.0

gitdb==4.0.11
GitPython==3.1.43
glcontext==3.0.0
graphviz==0.20.3
idna==3.10
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.7
langcodes==3.4.1
language_data==1.2.0
latex==0.7.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2

mdurl==0.1.2
multipledispatch==1.0.0
murmurhash==1.0.10
narwhals==1.10.0
nltk==3.9.1

packaging==24.1

pillow==10.4.0
plotly==5.24.1
preshed==3.0.9
protobuf==5.28.3

pycairo==1.27.0
pydantic==2.9.2
pydantic_core==2.23.4

pydub==0.25.1
pyglet==2.0.18
Pygments==2.18.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
rich==13.9.3
rpds-py==0.20.0


screeninfo==0.8.1
seaborn==0.13.2
shellingham==1.5.4
shutilwhich==1.1.0
six==1.16.0
skia-pathops==0.8.0.post2
smart-open==7.0.5
smmap==5.0.1

spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
srt==3.5.3

svgelements==1.9.6
tempdir==0.7.1
tenacity==9.0.0
thinc==8.3.2
threadpoolctl==3.5.0
toml==0.10.2
tornado==6.4.1
tqdm==4.66.6
typer==0.13.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
wasabi==1.1.3
watchdog==5.0.3
weasel==0.4.1
wrapt==1.16.0
